@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url("./../fonts/Roboto-Regular.ttf");
}

body {
    font-family: Roboto, serif;
}

.product[data-in-cart="true"] .add-product-main {
    display: none;
}

.product[data-in-cart="false"] .add-product-counter {
    display: none;
}

#cart-wrapper > span:has(+ #products-wrapper > #cart-items[data-empty="false"]) {
    display: none;
}

#products-wrapper:has(#cart-items[data-empty="true"]) {
    display: none;
}